html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}


/* Header */


/* Fixed Top Header */

header {
  color: #ffffff;
  background-color: #206993;
  height: 27rem;
  font-weight: 600;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: rgb(157, 224, 109);
}

.left-menu,
.right-menu,
.phone,
.top-menu,
.menu-container,
.bottom-menu,
.main-menu,
.company,
.mini-flex,
.flex-column-behind,
.flex-column-front {
  display: flex;
  flex-direction: row;
}

.top-menu,
.menu-container,
.bottom-menu,
.main-menu,
.flex-column-behind,
.flex-column-front {
  justify-content: space-between;
}

.flex-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
  z-index: 1001;
  position: relative;
}

.top-menu {
  align-items: center;
  font-size: .8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.menu-container {
  align-items: center;
  padding: .5rem 0 .5rem;
}

.left-menu a {
  font-weight: 100;
  font-size: .8rem;
}

.left-menu p {
  padding-right: 1rem;
  padding-left: 1rem;
}

.phone {
  padding-left: 1.2rem;
}

.phone img {
  margin-right: -.8rem;
}

.number p {
  font-size: .8rem;
}

.top-menu,
btn {
  font-size: .8rem;
}

#area-code {
  font-size: .5rem;
}

.btn {
  border-radius: 44px;
  font-size: .7rem;
  padding: 6px 18px;
  margin-right: .6rem;
}

#white-btn {
  border-radius: 20px;
  color: rgb(157, 224, 109);
}

#white-btn:hover {
  color: #000000;
}

.green-btn {
  background-color: rgb(157, 224, 109);
  color: white;
}

.bottom-menu {
  align-items: flex-start;
}

#main-menu {
  padding: .5rem;
  font-size: .8rem;
}

#main-menu img {
  margin-bottom: -2px;
  height: 12px;
}

.company {
  align-content: flex-end;
}

.company-name p {
  font-size: 1.4rem;
  padding-left: 3px;
}

.company-name .bottom-line {
  color: rgb(157, 224, 109);
  text-align: right;
  font-size: .7rem;
}


.language-dropdown {
  margin: .4rem 0 0 .4rem;
  color: black;
}

.language-dropdown select {
  color: #ffffff;
  padding-top: 2px;
  border: none;
  box-shadow: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}

.language-dropdown select::after {
  background: url(images/arrow-down-sign-to-navigate.png);
}
/* Fixed Top Header ends here*/

.flex-column {
  position: relative;
  z-index: 1000;
}

.flex-column-behind {
  position: absolute;
  z-index: 1001;
}

.flex-column-front {
  position: relative;
  z-index: 1010;
}

.header-info h3 {
  font-size: 1.4rem;
}

.header-info p {
  margin: .8rem 0 .8rem;
  max-width: 80%;
  font-weight: lighter;
}

.header-info .green-btn {
  font-size: .9rem;
  padding: .4rem 2rem .4rem;
}


/* Main Dropdown menu */

.dropdown-content {
  display: none;
  position: absolute;
  top: -4.4rem;
  right: -16vw;
  background-color: rgba(32, 32, 32, .9);
  z-index: 1001;
}

.dropdown-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
  margin: 4% 0 8% 15%;
  padding-left: 15px;
}

.dropdown-title {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  color: rgb(157, 224, 109);
}

.dropdown-title img {
  padding-right: 2px;
}

.dropdown-column a {
  padding: 0 0 2vh 4px;
  font-weight: 300;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  color: rgb(157, 224, 109);
}

.dropdown-content a {
  color: white;
  display: block;
}

.dropdown-column {
  display: flex;
  flex-direction: column;
  margin: 0px 1.2rem 0px 0px;
  width: 36vw;
}


/* Mini Dropdown menu  */

#mini-menu {
  left: -9vw;
  top: -1rem;
}

.mini-flex {
  justify-content: space-around;
  margin: 2rem 2.4rem 1.4rem;
}

#mini-menu a {
  padding-bottom: .8rem;
}

.left-minimenu {
  margin: 0 2rem 0px 1.4rem;
}

.right-minimenu a {
  font-size: .8rem;
}

.left-minimenu a {
  font-size: .9rem;
}

.right-minimenu p {
  font-size: .9rem;
  color: rgb(157, 224, 109);
  padding-bottom: .6rem;
  margin-left: -1rem;
}

.flex-menu p,
.header-info p {
  line-height: 1.2;
}


/* Supportive Section */

.supportive {
  padding: 2rem 15px 1rem 15px;
}

.mid-title {
  text-align: center;
  padding: 2rem 0 1rem;
}

.mid-title img {
  margin-top: .6rem;
}

.mid-title h4 {
  font-size: 1.2rem;
}

.flex-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0 2rem;
}

.flex-menu p {
  line-height: 1.2;
}

.flex-menu h4 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.flex-menu .green-btn {
  font-size: .9rem;
  padding: .3rem 3rem;
  margin-top: 2rem;
}


/* Jumbotron Section  */

.jumbotron {
  padding: 2rem 0;
  background-color: #F7F7F7;
}

.flex-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.student-review p {
  line-height: 1.2;
}

.jumbotron-img {
  text-align: center;
  line-height: 1.2;
}

.jumbotron-img p {
  font-size: .8rem;
  margin-top: 1rem;
}


/* Select / Search Section */

form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

form select {
  font-size: .8rem;
  font-weight: bold;
  border-radius: 4rem;
  padding: .5rem .6rem;
  margin-top: 2rem;
  width: 14vw;
  background: #f7f4f4;
  border-color: #cecece;
  text-align: center;
  appearance: button-arrow-down;
  -moz-appearance: none;
  -webkit-appearance: none;
  /* background-image: url("images/arrow-down-sign-to-navigate.png"); */
}

form .green-btn {
  font-size: .8rem;
  font-weight: bold;
  width: 14vw;
  text-align: center;
  padding: .2rem auto;
}

.university-banner {
  height: 12rem;
  color: #ffffff;
  background-color: #0063B1;
  border-radius: .6rem;
  margin: 4rem 0;
}

.university-banner img {
  position: relative;
  top: 2rem;
  left: 56vw;
}

.banner-text {
  text-align: left;
  width: 30%;
  margin-left: 20vw;
}

.banner-text p {
  font-weight: 400;
  border-bottom: 1px solid #ffffff;
  padding-bottom: .2rem;
}

.banner-text h2 {
  padding-top: .4rem;
  font-weight: 600;
  font-size: 1.6rem;
}

/* Footer Section */

footer {
  height: auto;
  color: #ffffff;
  background-color: #206993;
  padding: 2.4rem 15px 2.4rem 15px;
}

footer .company-name .bottom-line {
  color: white;
}

.footer-content {
  display: flex;
  flex-direction: row;
}

.footer-content {
  justify-content: space-between;
}

.footer-content .company-name {
  margin-top: -.2rem;
  margin-bottom: .6rem;
}

.footer-line {
  display: flex;
  flex-direction: column;
}

.footer-content span,
.footer-content a,
#copyright {
  font-size: .8rem;
  /* lighter calismiyor
  font-weight: lighter; */
}

.footer-content a:hover {
  color: rgb(157, 224, 109);
}

.first-column img {
  padding-right: .3rem;
  margin-bottom: -.14rem;
}

#white-button {
  color: #185372;
  border-radius: 44px;
  font-size: .7rem;
  padding: 6px 18px;
  margin-left: 1.2rem;
  margin-top: 2rem;
  background-color: #ffffff;
}

.footer-info {
  padding: .2rem 0 .2rem 0;
  align-items: baseline;
  line-height: 1.2;
}

#hours {
  display: flex;
}

.offices {
  margin-top: 1.4rem;
}

.small-column {
  display: flex;
  flex-direction: column;
}

.small-column h5 {
  padding-bottom: .6rem;
}

.small-column ul li {
  padding-top: .6rem;
  font-weight: 100;
}

.small-column ul {
  margin-top: .4rem;
}

#footer-seperator {
  border-right: 1px solid rgba(255, 255, 255, .4);
}

.footer-line {
  justify-content: space-between;
  padding-top: 1rem;
  align-items: baseline;
}

.footer-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-media {
  margin-top: .4rem;
}

.social-media a {
  padding-right: .8rem;
}


/* Carousel Section */

.supportive h3 {
  font-size: 1.4rem;
  font-weight: bold;
}


/* Student Reviews */

.student-img {
  width: 16%;
  text-align: center;
  margin: 2rem 0 4rem;
}

.student-review p {
  padding-top: .4rem;
}
